# Assignment 2: Evaluation and Error Analysis

#### TODO 
1. Test neural network and output its accuracy 
2. List the 5 worst expected predicted samples 
3. Epxlain the reasons for failed prediction on those samp[les

##### Bonus
Randomly select a weight, and random choose a new value for the weight. If the loss is reduced, then keep the new value, otherwise randomly select another weight and repeat this routine
until converge.
Compare the training and testing accuracy as well as the training speed with the gradient
descent, then explain the reason of getting this result.


##### Comments
The original dataset is only found in matlab, so I will generate the same concept using rotated MNIST digits

##### Goal: 

Convolutional Neural Network for Regression. In this hw, we will construct a neural network architecture, train the network, and use the trained network to predict anglse of rotated handwritten digits

In [26]:
import warnings 

warnings.filterwarnings('ignore')
import sklearn 
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd

import csv

## 1. Load Data

In [27]:
data = pd.read_csv('../data/digitTrain4DArrayData.txt', header = None)

In [28]:
data

           0
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
3919995  0.0
3919996  0.0
3919997  0.0
3919998  0.0
3919999  0.0

[3920000 rows x 1 columns]

In [29]:
data = np.loadtxt('../data/digitTrain4DArrayData.txt')

In [31]:
data[0]

0.0